.main-content {
  margin-top: 3.5rem;
  height: calc(100vh - 3.5rem);

  .loadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(85vh - 2.5rem);
  }

  #floatingTextarea,
  #inlineFormSelectPref {
    min-height: 8rem;
  }
}
